API_ID=20046843
API_HASH=ea9a91b68246519984e3c8e565cca44a
BOT_TOKEN=7583313187:AAELyZoxwDtLpFeLQpq5-ZZVQ4wVFioduxc
LOGGER_ID=-1002618524718
MONGO_DB_URI=mongodb+srv://botuser:Botpass12345@yashhosting.cs9sj0l.mongodb.net/?appName=Yashhosting
OWNER_ID=7613646047
STRING_SESSION=BQEx4_sAXxi5NHDDIOKEy0cBkJf5-ECHGabQ_WKx8mSpVfX6uYq6j5XQR5v29ghyZfBSjtUPqfbkdWfWMmOGGSlOZ8kCd8-bkwlbNFEH4yFkL30QvPgFJWH0MXLPMuF4NkupVIsfJ89Nr1PkTHPoH0If3sX37Ir5oVZXpDGRN6q-ynbvAWQqdMEZdKEt2uQzAsIfdjyQyEfvijxiJDsejZDhrG9E7CFO0XM-8WFEAZP_XuW3deFiKlLIqN6lFSut2_RSx3jMaoCVgSTH_4jP2gPxKnUPJNoH-7kkwQmEU8rwKk_WUisp4W6LY3OPw5crUjA_TYBwME1NKiItdI67B59TMvumrgAAAAHFzwTfAA
