API_ID=39558926
API_HASH=e7c25b467b0dbedb55888c20ca687354
BOT_TOKEN=8690316605:AAGLFDvT5Q0UnvkAyHM_Q6ow3UCKNR7axpc
LOGGER_ID=-1004455982838
MONGO_DB_URI=mongodb+srv://botuser:Botpass12345@yashhosting.cs9sj0l.mongodb.net/?appName=Yashhosting
OWNER_ID=7778444762
STRING_SESSION=BQJbnw4Ab6pmlHwZiD4unnG4klT33hsFq64KgkzVMys91zLch2G84dS4vK6ZTNSe8IKka2KzU3NaEuMw6_ELAz8DfCLWfdKfM-yEEcOZ7bGBUtzrZozC9CPWWOmQq9wYZ2bZqvOgmNilPHASjjUgkWwIPuN7uYx596kIdDe42X0bWIzr262TVp8oN_pJawBHloRR8MvX6Kqe6lUWr28XjKBUY98lTllqq-M2FQWjWNhjvJI4WYl9UcxCJU4RgAWXtHGnCi-dgY48OcXS8WUdVh5sAalZLuQA5iW4yXP40_62Xfw4Ny4pm76FPJH8j8ggrJKesp5N17NeazbAxeUsWPRqM5WpFgAAAAHPoaXaAA
